
[Desktop Entry]
Version=1.0
Name=Lombard Video Editor
GenericName=Video Editor
Comment=Create and edit movies
Exec=lombard %U
Icon=lombard
Terminal=false
Type=Application
Categories=AudioVideo;GNOME;GTK;
X-GIO-NoFuse=true

