/* Copyright 2009-2010 Yorba Foundation
 *
 * This software is licensed under the GNU Lesser General Public License
 * (version 2.1 or later).  See the COPYING file in this distribution. 
 */

style "pan" {
    GtkHScrollbar::fixed-slider-length = 1
    GtkHScrollbar::min-slider-length = 12
    GtkHScrollbar::has-forward-stepper = 0
    GtkHScrollbar::has-backward-stepper = 0
    fg[SELECTED] = "tan"
    fg[NORMAL] = "dark slate grey"
}

style "hseparator" {
    bg[NORMAL] = "#666"
}

class "PanSlider" style "pan"
class "VolumeSlider" style "pan"
class "TrackSeparator" style "hseparator"
