/* Copyright 2009-2010 Yorba Foundation
 *
 * This software is licensed under the GNU Lesser General Public License
 * (version 2.1 or later).  See the COPYING file in this distribution. 
 */

style "pan" {
    GtkHScrollbar::fixed-slider-length = 1
    GtkHScrollbar::min-slider-length = 12
    GtkHScrollbar::has-forward-stepper = 0
    GtkHScrollbar::has-backward-stepper = 0
    fg[SELECTED] = "tan"
    fg[NORMAL] = "dark slate grey"
}

style "hseparator" {
    bg[NORMAL] = "#999"
}

style "togglebutton" {
    GtkButton::child-displacement-x = 0
    GtkButton::child-displacement-y = 0
    bg[SELECTED] = "#79b"
    bg[NORMAL] = "#777"
    bg[INSENSITIVE] = "#555"
    bg[PRELIGHT] = "#888"
}

style "mutetogglebutton" = "togglebutton" {
    bg[ACTIVE] = "#e85"
    bg[NORMAL] = "#987c6e"
    bg[PRELIGHT] = "#f89665"
    bg[INSENSITIVE] = "#cab3a6"
}

style "mutetext" {
    fg[INSENSITIVE] = "#d5cac3"
}

style "solotogglebutton" = "togglebutton" {
    bg[ACTIVE] = "#ed4"
    bg[NORMAL] = "#adaf89"
    bg[PRELIGHT] = "#fe5"
}

style "audiotrackheader" {
    bg[SELECTED] = "#68a"
    bg[NORMAL] = "#666"
}

class "PanSlider" style "pan"
class "VolumeSlider" style "pan"
class "TrackSeparator" style "hseparator"
class "MuteToggleButton" style "mutetogglebutton"
class "SoloToggleButton" style "solotogglebutton"
class "AudioTrackHeader" style "audiotrackheader"
widget_class "*<MuteToggleButton><GtkLabel>" style "mutetext"

