/* Copyright 2010 Yorba Foundation
 *
 * This software is licensed under the GNU Lesser General Public License
 * (version 2.1 or later).  See the COPYING file in this distribution. 
 */

style "clipview" {
    text[NORMAL] = "black"
}

class "ClipView" style "clipview"

